html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: unset;
    color: white;
    font-size: 1.6rem;
    background: #000000;
    font-family: "Helvetica", serif;
}

/* top bar menu */
header {
    width: 100%;
    padding: 0.5rem;
    background: #121212;
}

#topMenu {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#logoIMDb {
    height: 3.6rem;

}

#divSmallArrow {
    height: 2.8rem;
    color: black;
    background: #ffffff;
}

.line {
    width: 1%;
    height: 3.2rem;
    border-right: #202020 2px solid;
}

#containerSearchBar {
    width: 40%;
}

#search {
    width: 60rem;
    height: 3rem;
}
#line + div {
    margin-left: 2rem;
}

#line + div + div {
    margin-left: 2rem;
}

/* Main container */
#container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 10rem 10rem 10rem;
}

#homePageDiv {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 1rem auto;
}

#carousel {
    width: 65%;
    height: 30rem;
}
/* main swiper slide ( home page swiper ) */
.mainSlide {
    height: 50rem;
}

.sideSwiperDiv {
    width: 100%;
    background: #101010;
    height: 14.6rem;
}

/* swiper beside main swiper */
.sideSwiper {
    margin-left: 1rem;
    width: 29%;
    position: relative;
}

.mainColor {
    color: #f5c518;
    font-size: 2rem;
}

.titleSize {
    font-size: 3rem;
    margin-top: 2rem;
}

span {
    font-size: 2rem;
    margin-top: 1rem;
}

div + span:hover {
    color: #f5c518;
}
/* Container after the main and second swiper */
#containerMidPage {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
}


.mySwiper {
    width: 60%;
}

.maxWidth {
    width: 100%;
}

.swiper {
    margin-right: unset;
    margin-left: unset;
}

.smallSlide {
    width: 30rem;
    height: 20rem;
}
/* Section for category */
.section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10rem;
}

.underSection {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}
.blue {
    color: #508ddd;
    font-size: 1.6rem;
    font-weight: bold;
}

.blue:hover {
    color: #508ddd;
}

.topPicksTitle {
    width: 80%;
    border-left: #f5c518 3px solid;
    padding: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
}

.titleDescription {
    color: #b7b7b7;
    font-size: 1.6rem;
}

.topPicksTitle + div {
    width: 100%;
}

.topPicksTitle + div + div {
    width: 100%;
    padding-top: 0.5rem;
}

.topPicksTitle:hover .yellowHover {
    color: #f5c518;
}

.signInButton {
    font-size: 1.4rem;
    font-weight: inherit;
}

    /* Swiper for many swiper on the page */
.mySwiperCategory {
    width: 100%;
    margin-top: 5rem;
    margin-left: inherit;
}

.sameSmallSlide {
    width: 20rem;
    height: auto;
}

    /* div container bellow all slide on the swiper, to describe the slide */

.descriptionSlide {
    width: auto;
    height: auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background: #1a1a1a;
    border-radius: 0 0 0.3rem 0.3rem;
}

.descriptionSlide > div > span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}


.fa-star {
    font-size: 1.3rem;
    color: #f5c518;
}

.far.fa-star {
    color: #508ddd;
    margin-left: 3.3rem;

}
.containerButton, .containerTrailerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchListButton {
    width: 90%;
    padding: 1rem;
    background: #2c2c2c;
    color: #508ddd;
    border-radius: 4px;
    border: none;
}

.trailerButton {
    width: 90%;
    padding: 1rem;
    background: #1a1a1a;
    color: white;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

.fa-play {
    color: #969696;
}
    /* WatchList container */
.containerWatchlist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.containerWatchlist > div {
    width: 100%;
    text-align: center;
}

.containerWatchlist > p {
    width: 100%;
    text-align: center;
}

.fa-plus-circle {
    font-size: 4rem;
    color: #2f2f2f;
}

#signInButton {
    padding: 1rem;
    background: #f5c518;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    width: 12%;
}

/* More to watch category and exclusive video */

.mySwipe3Slide {
    margin-top: 2rem;
}

#containerButtonWatchGuide {
    margin-top: 2rem;
    width: 100%;
}
.watchGuideAndPopular {
    width: 25%;
    border: white 2px solid;
    border-radius: 4px;
    background: #000000;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin-inline: 0.5rem;
}

.sameSmallSlideForTriple {
    width: 30rem;
    height: auto;
}

/* Explore what’s streaming category */

#primeVideoCategoryContainer {
    width: 100%;
    padding: 1rem;
}

#primeVideoCategoryContainer > div {
    text-align: center;
    width: 10%;
    border-bottom: 3px #f5c518 solid;
    font-weight: bold;
    font-size: 1.4rem;
}

#boxOfficeContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;

}

.boxOffice {
    display: flex;
    align-items: center;
    background: #000000;
    width: 50%;
    margin-top: 1rem;
    padding: 2rem;
    flex-flow: row wrap;
}
.yellowBorder {
    border-color: #f5c518;
    height: 2rem;
}

.linearGradientBg {
    background: linear-gradient(to left, rgb(24, 23, 23), black);
}

.box-office-logo {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.containerLogoBoxOffice {
    width: 10%
}

.containerLogoBoxOffice + div {
    width: 80%;
}

.fa-ticket-alt {
    color: #508ddd;
}

.fa-ticket-alt + div {
    width: 100%;
    color: #a2a2a2;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 7rem;
}

