html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 1.6rem;
    background: #000000;
    font-family: "Helvetica", serif;
}

/* top bar menu */
header {
    width: 100%;
    padding: 0.5rem;
    background: #121212;
}

#topMenu {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#logoIMDb {
    height: 3.6rem;

}

#divSmallArrow {
    height: 2.8rem;
    color: black;
    background: #ffffff;
}

#line {
    width: 1%;
    height: 3.2rem;
    border-right: #202020 2px solid;
}

#containerSearchBar {
    width: 40%;
}

#search {
    width: 60rem;
    height: 3rem;
}
#line + div {
    margin-left: 2rem;
}

#line + div + div {
    margin-left: 2rem;
}

/* Main container */
#container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#homePageDiv {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 1rem auto;
}

#carousel {
    width: 70%;
    height: 60rem;
}
/* main swiper slide ( home page swiper ) */
.mainSlide {
    width: 80rem;
    height: 60rem;
}

.sideSwiperDiv {
    width: 100%;
    background: #101010;
    height: 14.6rem;
}

/* swiper beside main swiper */
.sideSwiper {
    margin-left: 1rem;
    width: 29%;
    position: relative;
}

.mainColor {
    color: #f5c518;
    font-size: 2rem;
}

.titleSize {
    font-size: 3rem;
}

span {
    margin-top: 1rem;
}
/* Container after the main and second swiper */
#containerMidPage {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
}

#containerMidPage > h1 {
    margin-left: 9.5%;
}

.mySwiper {
    width: 60%;
}

.maxWidth {
    width: 100%;
}

.swiper {
    margin-left: 9.5%;
    margin-right: unset;
}

.smallSlide {
    width: 40rem;
    height: 20rem;
}

.section {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}




